
body{
    margin: 0 auto;
}

.bg{
    height: auto;
    max-height: 90svh;
    aspect-ratio: 5 / 7;
    background-image: url(./image/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size : 100% 100%;
    margin: 0 auto;
    position: relative;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

#middle_div{
    position: absolute;
    left: 0;
    right: 0;
    top: 18%;
    width: 80%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; */
    min-height: 0;
}

#main{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    aspect-ratio: 77 / 100;
    display: none;
}

.verse_bg{
    background-image: url(./image/verse_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#header{
    position: absolute;
    left: 0;
    right: 0;
    top: 13%;
    transform: translateY(-50%);
    width: 70%;
    padding-top: 10px;
    overflow: visible;
    flex-shrink: 0;
    margin: 0 auto;
}

#title_image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
}

#lamp_image{
    left: 0;
    right: 0;
    width: 15%;
    opacity: 0;
    margin: 0 auto;
    position: absolute;
}

#light_image{
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    opacity: 0;
    margin: 0 auto;
    top: 10%;
}

#text-space{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 0;
    right: 0;
    width: 70%;
    /* height: 50%; */
    margin: 0 auto;
}

#text-space p {
    margin: 0;
}

#word-space{
    display: inline-block;
    font-size: 3svh;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Pretendard';
}

#index-space{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 3svh;
    top: 75%;
    transform: translateY(-50%);
    font-family: 'Pretendard';
}

#fam_image{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    top: 90%;
    opacity: 0;
    transform: translate(0%, -50%);
}

#word-btn{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 30%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

#btn_image{
    width: 100%;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40%;
    bottom: 0%;
}

#footer_image{
    width: 100%;
}

#cursor {
    visibility: hidden;
    animation: blink 0.5s infinite;
    font-size: 1.5rem;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

#action-section{
    position: absolute;
    right: -40%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: flex;
    gap: 20%;
    min-height: 0;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.action-btn {
    width: 20%;
    font-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    aspect-ratio: 1 / 1;
    border: 0;
}

#download-btn {
    background-image: url("./image/download_btn.png");
}

#share-btn {
    background-image: url("./image/share_btn.png");
}
